/* Empty css file that users can override in their own /assets/css/custom.css file */

html {
    font-family: "Raleway", sans-serif;
}

.sidebar-about h1 {
    font-size: 1.4em;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.footnote {
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
